<div id="main">
  <div class="mt-4 main">
    ここがメイン
  </div>
  
  <aside class="sidebar">
    <div class="search-box">
      <div class="mb-3 object">サイト内を検索する</div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="検索するテキストを入力" aria-label="検索">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
      </form>
      <div class="mt-4 object">ブログ管理人</div>
      <div class="mt-4 admin-block">
        ここに管理人情報を記載
      </div>
    </div>
  </aside>
</div>