<header>
  <nav id="nav-main">
    <div class="nav-top">
      <img src="assets/hamburger.png" alt="hamburger" class="hamburger">
      <h1><a href="#">アニレビュ！</a></h1>
      <p>～アニメ好きのブログ～</p>
    </div>
    
    <ul class="menu-bar">
      <li><a href="#">HOME</a></li>
      <li><a href="#">管理人について</a></li>
      <li><a href="#">アニメレビュー</a></li>
    </ul>
    
  </nav>
  <img src="assets/main_image.jpg" alt="main_image" class="main_image">
</header>